* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {  
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  
  background-color: #f5f5f5;
}

.bg-dark {
  background-color: #153243!important;
}

.site-logo {
  height: 30px;
}

.home-button {
  margin-left: 5px;
  margin-right: 5px;
}

.carousel-inner {
  max-height: 400px;
  background: linear-gradient(
    rgba(50, 60, 85, 0.6), 
    rgba(50, 60, 85, 0.6) 
  );
  transition: all 0.2s ease-out;
}

.carousel-caption {
  min-height: 75%;

  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(50, 60, 85, 0.6), 
    rgba(50, 60, 85, 0.6) 
  );
  transition: all 0.2s ease-out;
}

.featurette-image {
  max-height: 250px;
}

/* Login Page */

.login-wrapper {
  margin-top: 100px;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-signin {
  text-align: center!important;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.red-text {
  clear: both;
  color: red;
}

.signup-wrapper {
  width: 50%;
  padding-top: 100px;
  margin: 0 auto;  
}

.profile-container {
  width: 70%;
  margin: 0 auto;
}

.top-heading {
  height: 150px;
}

.logo-image {
  text-align: center;
}