<div id="carousel-example-generic" class="carousel slide carousel-fullscreen carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-image: url('images/cafe_restaurant_table_interior_design_110567_3840x2400.jpg');">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading">The simple, easy reservation tool.</h1>
        <p class="super-paragraph">Manage your restaurant more efficiently with realtime views of reservations.</p>
      </div>
    </div>
    <div class="item" style="background-image: url('images/woman-using-her-mobile-phone-on-beautiful-blurred-lighting-background-inside-mcdonalds-restaurant-with-bokeh-4k-shopping-concept_s9noezsle_thumbnail-full01.png');">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading">Communicate more effectively with your customers.</h1>
        <p class="super-paragraph">Let your customers know when they can be seated with text notifications.</p>
      </div>
    </div>
    <div class="item" style="background-image: url('images/pexels-photo-262918.jpeg');">
      <div class="overlay"></div>
      <div class="carousel-caption">
        <h1 class="super-heading">Make your customers happer. </h1>
        <p>Make your customers happier and your business more profitable by improving the wait experience.</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container demo-content">
  <div class="row">
    <div class="col-md-12">
      <h1>TableStack: The simple and easy reservation tool.</h1>

      <p class="lead">
        TableStack is a website designed to allow a user to create and manage reservations for restaurants. Restaurants can also
        manage and create reservations for their restaurant.</p>

      <h3>Never lose customers to painful reservation experiences again.</h2>

        <p class="lead">
          Don’t you hate the sinking feeling of calling out name and no one responds? And looking around and seeing empty tables you
          could have filled? A frustrated customer that has given up on waiting and gone somewhere else might not come back
          the next time either. That is why it is critical to manage your busy times better.
        </p>

        <h3>Customers and restaurants can better manage their reservations.</h3>

        <p class="lead">
          Forget messy paper waitlists and calendars. Anyone can learn TableStack in a few minutes. Quoting wait times accurately
          is easy when you can see at a glance key info on your waiting and scheduled customers. Intuitive calendar views
          make seeing availability and scheduling reservations a breeze. Simple and effective.
        </p>

        <h3>Tasty business results.</h3>

        <p class="lead">
          Don’t give your customers reasons to go somewhere else. TableStack has been proven to reduce walkaways, increase customer
          satisfaction, and improve your operational efficiencies. Make your customers and team happier, and you’ll see the
          results in the bottom line.
        </p>
    </div>
  </div>
</div>

<!-- Carousel Script -->
<script type="text/javascript" src="./carousel.js"></script>